.catalog {
  position: relative;
}
.catalog_wrapper {
  display: flex;
  /* height: 80vh; */
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 4%;
}
.wrapper_Slider-One{
  position: relative;
  width: 50%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
}
.wrapper_Slider {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 90px 0;
  padding: 30px;
}
.slider {
  width: 70%;
  aspect-ratio: 1;
  margin: 0 auto;
  /* width: 22.5rem;
    height: 22.5rem; */
  overflow: hidden;
  position: relative;
}
.details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10%;
  width: 35%;
  aspect-ratio: 1;
}
.details_tracery {
  width: 45%;
  height: 18%;
}
.details_name {
  width: 100%;
  visibility: hidden;
}
.square {
  position: absolute;
  border: 2px solid #ffffff6e;
  z-index: 5;
  width: 70%;
  aspect-ratio: 1;
  top: 15%;
  left: 15%;
}
.sOne {
  transform: rotate(45deg);
}
.sTwo {
  transform: rotate(8deg);
}
.two {
  position: absolute;
  top: 13%;
  left: 19%;
  clip-path: circle(42%);
  width: 61%;
  height: 59%; 
}
.two .slider-inner{
  padding-left: 7.5%;
}
.two .slider-inner img {
  width: 100%;
}
.slider-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% * 5);
}

.slide {
  width: 20%;
  height: 20%;
  flex-shrink: 0;
}
.slide-circle{
  padding-top: 1%;
  width: 17%;
  height: 20%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn_next {
  position: absolute;
  right: 2%;
  top: 18%;
  width: 11%;
  height: 50%;
}
.btn_next img{
  width: 2rem;
}
.btn-catalog {
  width: 50vw;
  height: 6vh;
  margin-bottom: 5%;
}
@media(max-width:500px){
  .details{
    display: none;
  }
  .btn-catalog{
    margin-bottom: 0;
    margin-top: 8%;
  }
}