.reviews_wrapper{
    display: flex;
    justify-content: flex-end;
    margin: 2% 0;
    gap: 20px;
    position: relative;
    width: 50%;
    margin-left: 40%;
    margin-bottom: 6%;
}
.reviews_wrapper button img{
    width: 2rem;
}
.rev {
    width: 56%;
    height: 65%;
    position: absolute;
    right: 79%;
    bottom: -10%;
    box-shadow: 20px 20px 4px 0 rgba(12,14,15, 59%);
    background-color: #121617;
    }