.App {
  /* background-color: #121617; */
  text-align: center;
  box-sizing: border-box;
  font-size: inherit;
  overflow-x: hidden;
  width: 100%;
  color: #fff;
  height: 100vh;
  background-color: #121617;
}
ul{
  list-style-type: none;
}
a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
h1,p{
  margin: 0;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* section{
  margin-top: 10vw;
} */
.wrapper_section{
  position: relative;
  margin: 0 auto;
  width: 90vw;
  padding: 3vw 0;
}
@media(min-width:1500px){
  .wrapper_section{
    width: 1296px;
    /* padding: 50px 0; */
    
  }
}
@media(max-width:1080px){
  .wrapper_section{
    padding: 5vw 0;
  }
}
@media(max-width:740px){
  .wrapper_section{
    padding: 10vw 0;
  }
}
@media(max-width:550px){
  .wrapper_section{
    padding: 15vw 0;
  }
}
/* @media(max-width:1440px){
  .wrapper_section{
    padding: 10vw 0;
  }
} */
/* @media(min-width: 1500px){
  .wrapperSections{
    width: 1500px;
    margin: 0 auto;
  }
} */
/* @media(max-width:1200px){
  .App{
    font-size: 1.8rem;
  }
  
}
@media(max-width:1000px){
  .App{
    font-size: 1.5rem;
  }
  
}
@media(max-width:800px){
  .App{
    font-size: 1.3rem;
  }
  
}
@media(max-width:700px){
  .App{
    font-size: 1.1rem;
  }
  
}
@media(max-width:600px){
  .App{
    font-size: 1rem;
  }
  
}
@media(max-width:540px){
  .App{
    font-size: 1rem;
  }
  
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




