html{
  font-size: 20px;
}
body {
  margin: 0;
  font-family: "Playfair Display", serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width:1200px){
  html{
    font-size: 18px;
  }
}
@media(max-width:1050px){
  html{
    font-size: 15px;
  }
}
@media(max-width:880px){
  html{
    font-size: 13px;
  } 
}
@media(max-width:740px){
  html{
    font-size: 11px;
  }  
}
@media(max-width:630px){
  html{
    font-size: 10px;
  } 
}